body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #0e1823;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1370px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  background-color: #fbfbfb;
  width: 1240px;
  margin: 32px auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.yachtjet-link {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
  padding-left: 31px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 375px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 4px 4px;
  background-color: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  margin: 4px 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}

.nav-link {
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}

.nav-item:hover {
  background: #1b414b;
  cursor: pointer;
}

.nav-item:focus {
  background: #1b414b;
}

.soz-list {
  display: flex;
  align-items: center;
  padding-left: 362px;
  padding-right: 29px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.soz-item {
  padding-right: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.benefits {
  /* padding-top: 150px;
  padding-bottom: 150px; */
  padding: 150px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-innr {
  display: flex;
}

.benefits-list {
  display: flex;
  gap: 44px 32px;
  flex-wrap: wrap;
  background-color: #1b414b;
  padding: 90px 50px;
  margin-right: 32px;
  border-radius: 24px;
}

.benefits-item {
  width: calc((100% - 32px) / 2);
}

.benefits-item-title {
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #fbfbfb;
}

.benefits-ite-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
